:root {
  --main-background-color: #f5f5f5;
  --primary-text-color: #212121;
  --secondery-text-color: #757575;
  --active-text-color: #2196f3;
  --text-logo: #000000;
  --text-hero: #ffffff;
}

body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
}

/* Навигация */

.link.nav {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Логотип */

.aссent {
  color: var(--active-text-color);
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-head {
  font-family: 'raleway';
  color: var(--text-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-head:hover,
.logo-head:focus {
  color: var(--active-text-color);
}

/* Cсылки */

.link.contacts {
  color: var(--secondery-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--active-text-color);
}

/* Кнопки */

.filter:hover,
.filter:focus {
  background-color: var(--active-text-color);
  color: var(--text-hero);
}

.booking {
  background-color: var(--active-text-color);
  color: var(--text-hero);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.filter {
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

/* Герой главной страницы */

.hero {
  background-color: #2f303a;
  color: var(--text-hero);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Герой страницы портфолио */

.image-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.image-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}

/* Преимущества */

.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondery-text-color);
}

/* Чем мы занимаемся */

.process,
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Команда */

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* Футер */

.footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-place {
  color: var(--text-hero);
}

.address > .contacts {
  color: rgba(255, 255, 255, 0.6);
}

.logo-footer {
  color: var(--text-hero);
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--active-text-color);
}

/* Убрал подчеркивания и точки со ссылок и списков */

.link,
.logo {
  text-decoration: none;
}

.list {
  list-style: none;
}
